<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">CRUD</li>
      <%= link_to 'Home', root_path %>
      <%= link_to 'People', people_path %>
      <%= link_to 'About', home_about_path %>
    </ul>
  </div>
</div>